$baseFontSize: 16px;

$mainColor: #282828;
$lightGrey: #9D9FA1;
$borderGrey: #9D9FA2;
$darkGrey: #5F6980;
$subtitleGrey: #475467;
$lightBorderGrey: #D0D5DD;
$backgroundColor: #F9FAFB;
$white: #fff;

$breakpoints: ('xsmall': 480px, 'small': 640px, 'medium': 768px, 'large': 1024px, 'xlarge': 1280px, 'xxlarge':1366px) !default;